/* .scoreCardWrapper {
  border: 2px solid grey;
} */

.scoreCardWrapper .col {
  border: 1px solid #8b8b8b;
  font-size: 20px;
  padding: 15px;
}

.scoreCardRow:first-child .col:not(:first-child) {
  background: #fbbc61;
  color: #000;
  border: 1px solid #000;
}

.scoreCardRow span {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.scoreRow .scoreText {
  color: #b1b1b1;
}

.holeRow .col span {
  margin-right: 100px;
}

.holeRow .col {
  font-weight: bold;
}

.parRow {
  background: #b9dde7;
}

.parRow .col span {
  margin-right: 60px;
}

.scoreRow .col span {
  margin-right: 31px;
}

.distanceRow {
  background: #097e09;
}
